<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>UBAS Backstage management</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="/static/assets/css/admin.css">
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/app.js"></script>
</head>

<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->








<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="/static/assets/i/1.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

 <li class="kuanjie">
  
  <a href="/member_list?page=1">会员管理</a>
  <a href="/order_list?page=1">订单管理</a>
  <a href="/commodity_list?page=1">产品管理</a>
     <a href="/loginout">退出</a>
 </li>




      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main"> 

<div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：{$username}</div>
    <div class="sideMenu">
      <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li><a href="/commodity_list?page=1">商品列表</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif' ><a href="/add_commodity">添加新商品</a></li>

        <li><a href="/comment_list?page=1">用户评论</a></li>
      </ul>
      <h3 class="am-icon-cart-plus"><em></em> <a href="#"> 订单管理</a></h3>
      <ul>
        <li><a href="/order_list?page=1">订单列表</a></li>



      </ul>
  <h3 class="am-icon-users"><em></em> <a href="#">会员管理</a></h3>
      <ul>
        <li><a href="/member_list?page=1">会员列表 </a></li>
      </ul>
    </div>
    <!-- sideMenu End --> 
    
    <script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:700 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 

    
    
    
    
    
    
    
</div>

<div class=" admin-content">
	
		<div class="daohang">
			<ul>
      <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"><a href="index.html"> 首页 </a></button></li>
        
				
			</ul>

       

	
</div>
	
	


<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 商品添加</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">添加新商品</a></dl>

      
      
    </div>
	
    <div class="fbneirong">
      <form class="am-form">
        <div class="am-form-group am-cf">
          <div class="zuo">标题：</div>
          <div class="you">
            <input type="text"  name="add-input" class="am-input-sm" id="add-name" placeholder="请输入标题">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">价格：</div>
          <div class="you">
            <input type="text" name="add-input" class="am-input-sm" id="add-price" placeholder="请输入关键词">
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">产品图片：</div>
          <div class="you">
              <input id="upload_img" type="file" name="image" /> <br>
              <input id="upload_btn" type="button" value="上传" />
          </div>
        </div>
          <div class="am-form-group am-cf">
              <div class="zuo">品牌：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-brand" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">颜色：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-color" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">cpu：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-cpu" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">生产日期：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-date" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">显卡：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-gpu" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">型号：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-bid" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">系统：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-os" placeholder="请输入关键词">
              </div>
          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">定位：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-position" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">显存：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-ram" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">内存：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-rom" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">硬盘类型：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-rom_type" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">屏幕尺寸：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-screen_type" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">系列：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-series" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">厚度：</div>
              <div class="you">
                  <input type="text"  name="add-input"class="am-input-sm" id="add-thickness" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">类型：</div>
              <div class="you">
                  <input type="text" name="add-input" class="am-input-sm" id="add-type" placeholder="请输入关键词">
              </div>

          </div>
          <div class="am-form-group am-cf">
              <div class="zuo">重量：</div>
              <div class="you">
                  <input type="text"  name="add-input" class="am-input-sm" id="add-weight" placeholder="请输入关键词">
              </div>

          </div>

        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <a type="submit" id='addbtn' class="am-btn am-btn-success am-radius">发布并关闭窗口</a>&nbsp;

          </div>
        </div>
      </form>
    </div>

  
 
 <div class="foods">
<!--   <ul>
    版权所有@2015
  </ul> -->
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>




</div>

</div>




</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/polyfill/rem.min.js"></script>
<script src="/static/assets/js/polyfill/respond.min.js"></script>
<script src="/static/assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="/static/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script>
    $('document').ready(function () {


        var img_list=[];
        var img_obj
        // 上传图片
        $("#upload_btn").click(function () {


            img_obj = $("#upload_img")[0].files[0];
            if (img_obj==null){
                alert('请上传图片');
            }
            else {
                var formData = new FormData();
                formData.append('img_obj',img_obj);
                $.ajax({
                    url:'/upload_img/',
                    type:'POST',
                    data: formData,
                    dataType:'json',
                    contentType: false, // 注意这里应设为false
                    processData: false,
                    cache: false,
                    success:function(databack){
                           var json_data= JSON.parse(databack)
                           var a=json_data.Data
                           var img_name=a[0].path
                           img_list.push(img_name)
                           console.log('返回的图片名字'+img_name)

                           if(json_data.Code==0)

                               alert('上传成功')
                           else{

                               alert('上传失败')
                           }

                    }
                })
            }


        })

         //上传数据
         $('#addbtn').click(function () {

             if (img_obj==null){
                 alert('请先上传图片');
             }
             else{
                 var p_data ={};


                 p_data.images= img_list;
                 p_data.status= true;


                 $("input[name='add-input']").each(function(){
                     var temp=$(this).attr('id').split('-')
                     var add_id=temp[1]
                     if(add_id=='price'){
                           if($(this).val()==null ||$(this).val()=='')
                               p_data[add_id]=0
                           else
                               p_data[add_id]=parseInt($(this).val())
                     }

                     else
                         p_data[add_id]=$(this).val()
                 })
                 var string_obj=JSON.stringify(p_data)
                 console.log(string_obj)
                 $.ajax({
                     url:'/add_commodity/',
                     type:'POST',
                     data: {'aaa':string_obj},
                     dataType:'json',

                     success:function(databack){
                         alert(databack)
                         window.location.href='http://www.notebook.org/commodity_list';

                     }
                 })
             }

         })



        })







</script>


</body>
</html>