<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>UBAS Backstage management</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/assets/css/admin.css">
  <link rel="stylesheet" href="/static/assets/css/myPagination.css">
  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/app.js"></script>
</head>

<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->



<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="/static/assets/i/1.png"></div>
  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

 <li class="kuanjie">
  
  <a href="/member_list">会员管理</a>
  <a href="order_list.html">订单管理</a>
  <a href="/commodity_list?page=1">产品管理</a>
 </li>
      <li class="soso">
        <p>
          <select data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}">
            <option value="b">全部</option>
            <option value="o">产品</option>
            <option value="o">会员</option>
          </select>
        </p>
        <p class="ycfg">
          <input type="text" class="am-form-field am-input-sm" placeholder="圆角表单域" />
        </p>
        <p>
          <button class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button>
        </p>
      </li>
      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>
<div class="am-cf admin-main">
  <div class="nav-navicon admin-main admin-sidebar">
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：xzl</div>
    <div class="sideMenu">
      <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li><a href="/commodity_list?page=1">商品列表</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif' ><a href="/add_commodity">添加新商品</a></li>

        <li><a href="/comment_list?page=1">用户评论</a></li>
      </ul>
      <h3 class="am-icon-cart-plus"><em></em> <a href="#"> 订单管理</a></h3>
      <ul>
        <li><a href="/order_list">订单列表</a></li>

        <li><a href="add_order.html">添加订单</a></li>

      </ul>
     <h3 class="am-icon-users"><em></em> <a href="#">会员管理</a></h3>
      <ul>
        <li><a href="/member_list">会员列表 </a></li>
      </ul>
    </div>
    <!-- sideMenu End --> 
    
    <script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:700 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 
  </div>
  <div class=" admin-content">
    <div class="daohang">
      <ul>
      <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"><a href="index.html"> 首页 </a></button></li>
      </ul>
    </div>

    


    
    <div class="admin-biaogelist">
      <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">
          用户评论
        </ul>
        <dl class="am-icon-home" style="float: right;">
          当前位置： 首页 > <a href="#">用户评论</a>
        </dl>

        <!--data-am-modal="{target: '#my-popup'}" 弹出层 ID  弹出层 190行 开始  271行结束--> 
        
      </div>
      <form class="am-form am-g">
        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
          <thead>
            <tr class="am-success">
              <th class="table-check"><input type="checkbox" name="allcheckbox"/></th>
              <th class="table-type">用户名</th>
              <th class="table-id am-text-center">用户ID</th>
              <th class="table-id am-text-center">评论ID</th>
              <th class="table-title">评论内容</th>
              <th class="table-type">商品id</th>
              <th class="table-author am-hide-sm-only">发表日期</th>
             
              <th width="90px" class="table-set">操作</th>
            </tr>
          </thead>
          <tbody>

          {volist name="comment_list" id="vo" empty="暂时没有数据"}
          <tr name={$vo.comment_id} id={$vo.user_id}>
            <td><input  name="comment_checkbox" type="checkbox"  value="{$vo.user_id}+{$vo.comment_id}" id="{$vo.comment_id}+{$vo.user_id}"/></td>
            <td>{$vo.username} </td>
            <td class="am-text-center">{$vo.user_id}</td>
            <td class="am-text-center">{$vo.comment_id}</td>
            <td>{$vo.content}</td>
            <td>{$vo.commodity_id}</td>
            <td>{$vo.create_time}</td>

            <td><div class="am-btn-toolbar">
              <div class="am-btn-group am-btn-group-xs">

                <a name="delbtn" id={$vo.comment_id} class="am-btn am-btn-default am-btn-xs am-text-danger am-round"  title="删除"><span class="am-icon-trash-o"></span></a>
              </div>
            </div></td>
          </tr>

          {/volist}

          </tbody>
        </table>
        <div class="am-btn-group am-btn-group-xs">

          <a name="delbtnchose" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</a>
        </div>

        <hr />

      </form>
      <div id="pagination" class="pagination"></div>
      <div class="foods">
  <!--       <ul>
          版权所有@2015
        </ul> -->
        <dl>
          <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/polyfill/rem.min.js"></script>
<script src="/static/assets/js/polyfill/respond.min.js"></script>
<script src="/static/assets/js/amazeui.legacy.js"></script>
<script src="/static/assets/js/myPagination.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/myPagination.js"></script>
<!--<![endif]-->
<script>
       $('document').ready(function () {

         var sum=parseInt({$comment_sum})
         //分页
         if(sum<20)
           page_num=1
         else
            page_num=sum %20;
         console.log(page_num)
         var str=location.href

         var page_cur=str.split('?')[1].split('=')[1] //当前页面

         new Page({
           id: 'pagination',
           pageTotal: page_num, //必填,总页数
           pageAmount: 10,  //每页多少条
           dataTotal: 500, //总共多少条数据
           curPage:parseInt(page_cur), //初始页码,不填默认为1
           pageSize: 5, //分页个数,不填默认为5
           showPageTotalFlag:false, //是否显示数据统计,不填默认不显示
           showSkipInputFlag:true, //是否支持跳转,不填默认不显示
           getPage: function (page) {
             //获取当前页数
             console.log(page);

             window.location.href='http://www.notebook.org/comment_list?page='+ page
           }
         })


         //全选
         $("input[name='allcheckbox']").click(function () {

           var  allcheckbox_obj=$(this)
           if(allcheckbox_obj.is(":checked"))
           {

             $("input[name='comment_checkbox']").each(function(){

                  $(this).prop("checked", true);

             })

           }

           else
           {

             $("input[name='comment_checkbox']").each(function(){

               $(this).prop("checked", false);


             })

           }
         })




            $("a[name='delbtn']").click(function () {

              //要删除的评论id
              var del_id=$(this).attr('id')
              //要删除的评论段落
              var del_tr=$("tr[name="+del_id+"]")
              //要删除评论的用户id
              var user_id=$("tr[name="+del_id+"]").attr('id')




              var statu = confirm("你确定要删除该评论？");
              if(!statu){
                return false;
              }

              var str=location.href

              var page_str=str.split('?')[1]
              $.ajax({
                url:'/comment_list?'+page_str,
                type:'POST',
                data:{del_id:del_id,user_id:user_id},
                success:function(databack){
                  console.log(databack)
                  del_tr.hide()
                }



              })

            })

            //删除所选的全部
            $("a[name='delbtnchose']").click(function () {

              var obj=$("input[name='comment_checkbox']")

              
              for ( k in obj) {
                  if(obj[k].checked){

                    var arr=obj[k].value.split("+");
                    //arr[0]是用户id
                    var del_id=arr[1]

                    var str=location.href

                    var page_str=str.split('?')[1]
                    $("tr[name="+del_id+"]").hide()

                        $.ajax({
                          url:'/comment_list?'+page_str,
                          type:'POST',
                          data:{del_id:arr[1],user_id:arr[0]},
                          success:function(databack){
                            console.log(databack)

                          }



                        })

                  }


              }


            })

       })


</script>

</body>
</html>