<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>UBAS Backstage management</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/myPagination.css">
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/app.js"></script>


</head>

<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->








<body>
<header class="am-topbar admin-header">
  <div class="am-topbar-brand"><img src="/static/assets/i/1.png"></div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">



 <li class="kuanjie">
  
  <a href="/member_list?page=1">会员管理</a>
  <a href="/order_list?page=1">订单管理</a>
  <a href="/commodity_list?page=1">产品管理</a>
     <a href="/loginout">退出</a>
 </li>






      <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main"> 

<div class="nav-navicon admin-main admin-sidebar">
    
    
     <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：{$username}</div>
    <div class="sideMenu">
      <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
      <ul>
        <li><a href="/commodity_list?page=1">商品列表</a></li>
        <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif' ><a href="/add_commodity">添加新商品</a></li>

        <li><a href="/comment_list?page=1">用户评论</a></li>
      </ul>
      <h3 class="am-icon-cart-plus"><em></em> <a href="#"> 订单管理</a></h3>
      <ul>
        <li><a href="/order_list?page=1">订单列表</a></li>

      </ul>
  <h3 class="am-icon-users"><em></em> <a href="#">会员管理</a></h3>
      <ul>
        <li><a href="/member_list?page=1">会员列表 </a></li>
      </ul>
    </div>
    <!-- sideMenu End --> 
    
    <script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:700 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 

    
    
    
    
    
    
    
</div>

<div class=" admin-content">
	
		<div class="daohang">
			<ul>
				    <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"><a href="index.html"> 首页 </a></button></li>
				
				
			</ul>

       

	
</div>
<div class="am-popup am-popup-inner" id="my-popup">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">详细信息</h4>
            <span data-am-modal-close
                  class="am-close">&times;</span> </div>
     <div  style="width:630px;height:480px;overflow-y:scroll; ">
         <div class="fbneirong" >
             <ul class="am-list" >
                 <li><a style="color: black" name="danchu-a">标题：</a></li>
                 <li><a style="color: black" name="danchu-a">价格：</a></li>
                 <li><a style="color: black" name="danchu-a">品牌：</a></li>
                 <li><a style="color: black" name="danchu-a">颜色：</a></li>
                 <li><a style="color: black" name="danchu-a">cpu：</a></li>
                 <li><a style="color: black" name="danchu-a">生产日期：</a></li>
                 <li><a style="color: black" name="danchu-a">显卡：</a></li>
                 <li><a style="color: black" name="danchu-a">型号：</a></li>
                 <li><a style="color: black" name="danchu-a">系统：</a></li>
                 <li><a style="color: black" name="danchu-a">定位：</a></li>
                 <li><a style="color: black" name="danchu-a">显存：</a></li>
                 <li><a style="color: black" name="danchu-a">内存：</a></li>
                 <li><a style="color: black" name="danchu-a">硬盘类型：</a></li>
                 <li><a style="color: black" name="danchu-a">屏幕尺寸：</a></li>
                 <li><a style="color: black" name="danchu-a">系列：</a></li>
                 <li><a style="color: black" name="danchu-a">厚度(mm)：</a></li>
                 <li><a style="color: black" name="danchu-a">类型：</a></li>
                 <li><a style="color: black" name="danchu-a">重量(kg)：</a></li>
             </ul>

         </div>
     </div>

    </div>

    <div class="am-popup am-popup-inner" id="my-popup2">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">修改信息</h4>
            <span data-am-modal-close
                  class="am-close">&times;</span> </div>
        <div  style="width:630px;height:480px;overflow-y:scroll; ">
            <div class="fbneirong" >
                <ul class="am-list" >

                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">标题</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+name">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">价格</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+price">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">品牌</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+brand">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">颜色</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+color">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">cpu</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+cpu">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">生产日期</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+data">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">显卡</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+gpu">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">型号</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+bid">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">系统</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+os">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">定位</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+position">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">显存</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+ram">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">内存</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+rom">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">硬盘类型</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+rom_type">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">屏幕尺寸</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+screen_type">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">系列</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+series">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">厚度(mm)</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+thickness">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">类型</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+type">
                        </div>
                    </li>
                    <li>
                        <div class="am-input-group am-input-group-sm">
                        <span class="am-input-group-label">重量(kg)</span>
                        <input type="text" class="am-form-field" name="danchu-b" id="add+weight">
                        </div>
                    </li>

                    <li><div class="am-form-group am-cf">
                        <div class="you" >
                            <a type="submit" id='xiugaibtn' class="am-btn am-btn-success am-radius">修改并关闭窗口</a>&nbsp;

                        </div>
                    </div></li>

                </ul>

            </div>
        </div>

    </div>


<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 商品列表</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">商品列表</a></dl>

    </div>




    <form class="am-form am-g">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
                <th class="table-check"><input type="checkbox"  name="allcheckbox"/></th>
                <th class="table-type">品牌</th>
                <th class="table-id">商品ID</th>
                <th class="table-title">标题</th>
                <th class="table-type">价格</th>
                  <th class="table-date am-hide-sm-only">上架</th>
                <th class="table-date am-hide-sm-only">发行日期</th>
                <th width="150px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
            {volist name="commodity_list" id="vo"}
            <tr name="{$vo.commodity_id}">
                <td><input type="checkbox"    name="aa-checkbox"  value="{$vo.commodity_id}"/></td>
                <td>{$vo.brand}</td>
                <td>{$vo.commodity_id}</td>

                <td>{$vo.name}</td>
                <td>{$vo.price}</td>

                <td>


                    {switch $vo.status}
                    {case value="1"}<i name="icon{$vo.commodity_id}" class="am-icon-check am-text-warning"></i>{/case}
                    {case value=""}<i name="icon{$vo.commodity_id}" class="am-icon-close am-text-primary"></i>{/case}
                    {default /}default
                    {/switch}

                </td>
                <!--<i class="am-icon-close am-text-primary">-->

                    <input type="hidden"  name="{$vo.commodity_id}" class="am-input-lg" id="add-name" value='{$vo.name}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-price" value='{$vo.price}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-brand" value='{$vo.brand}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-color" value='{$vo.color}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-cpu" value='{$vo.cpu}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-date" value='{$vo.date}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-gpu" value='{$vo.gpu}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-bid" value='{$vo.bid}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-os" value='{$vo.os}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-position" value='{$vo.position}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-ram" value='{$vo.ram}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-rom" value='{$vo.rom}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-rom_type" value='{$vo.rom_type}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-screen_type" value='{$vo.screen_type}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-series" value='{$vo.series}'>
                    <input type="hidden"  name="{$vo.commodity_id}"class="am-input-sm" id="add-thickness" value='{$vo.thickness}'>
                    <input type="hidden" name="{$vo.commodity_id}" class="am-input-sm" id="add-type" value='{$vo.type}'>
                    <input type="hidden"  name="{$vo.commodity_id}" class="am-input-sm" id="add-weight" value='{$vo.weight}'>

                   <input type="hidden"  name="status{$vo.commodity_id}" class="am-input-sm" id="add-status" value={$vo.status}>

                <td class="am-hide-sm-only">{$vo.date}</td>
                <td><div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">

                        <a id='a-{$vo.commodity_id}' title="预览" type="button" data-am-modal="{target: '#my-popup'}" name="opbtn" class="am-btn am-btn-default am-btn-xs am-text-success am-round"><span class="am-icon-search"></span> </a>
                        <a id='b-{$vo.commodity_id}' title="修改信息" data-am-modal="{target: '#my-popup2'}" name="opbtn" class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"><span class="am-icon-pencil-square-o"></span></a>

                        <a id='c-{$vo.commodity_id}' title="更改状态" name="opbtn" class="am-btn am-btn-default am-btn-xs am-text-danger am-round"><span class="am-icon-cog"></span></a>
                    </div>
                </div></td>
            </tr>
            {/volist}


            </tbody>
          </table>
          
                 <div class="am-btn-group am-btn-group-xs">

              <a type="button"   id="up-btn" class="am-btn am-btn-default"><span class="am-icon-save"></span> 上架</a>
              <a type="button" id="down-btn" class="am-btn am-btn-default"><span class="am-icon-save"></span> 下架</a>
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 移动</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 移动</button>-->
              <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
            </div>


          <hr />

<!--           <p>注：.....</p> -->
        </form>

    <div id="pagination" class="pagination"></div>

 
 <div class="foods">
  <!-- <ul>
    版权所有@2015
  </ul> -->
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>




</div>

</div>




</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/polyfill/rem.min.js"></script>
<script src="/static/assets/js/polyfill/respond.min.js"></script>
<script src="/static/assets/js/amazeui.legacy.js"></script>
<script src="/static/assets/js/myPagination.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/myPagination.js"></script>
<!--<![endif]-->
<script>
    $('document').ready(function () {
          var moren=[]
        $("a[name='danchu-a']").each(function(){
            moren.push($(this).text())
        })
        //分页
            var page_num={$com_sum}%20

            var str=location.href

            var page_cur=str.split('?')[1].split('=')[1] //当前页面

            new Page({
                id: 'pagination',
                pageTotal: page_num, //必填,总页数
                pageAmount: 10,  //每页多少条
                dataTotal: 500, //总共多少条数据
                curPage:parseInt(page_cur), //初始页码,不填默认为1
                pageSize: 5, //分页个数,不填默认为5
                showPageTotalFlag:false, //是否显示数据统计,不填默认不显示
                showSkipInputFlag:true, //是否支持跳转,不填默认不显示
                getPage: function (page) {
                    //获取当前页数
                    console.log(page);

                    window.location.href='http://localhost:801/commodity_list?page='+ page
                }
            })


        //全选
        $("input[name='allcheckbox']").click(function () {

            var  allcheckbox_obj=$(this)
            if(allcheckbox_obj.is(":checked"))
            {

                $("input[name='aa-checkbox']").each(function(){

                    $(this).prop("checked", true);

                })

            }

            else
            {

                $("input[name='aa-checkbox']").each(function(){

                    $(this).prop("checked", false);


                })

            }
        })





        $("a[name='opbtn']").click(function () {
            
             var btn_id=$(this).attr('id')
             var com_id=btn_id.split('-')
            switch(com_id[0])
            {   
                
                case 'a'://预览
                    Preview(com_id[1])
                    break;
                case 'b'://修改商品信息
                    Changemsg(com_id[1])
                    break;
                case 'c'://更改在售状况
                    Changestatus(com_id[1])
                    break;
                default:
                    console.log('出错')
            }

        })
        //预览
        function Preview(com_id) {
            var p_data=[]

            $("input[name="+com_id+"]").each(function(){


                p_data.push($(this).val())
            })
            $("a[name='danchu-a']").each(function(){
                $(this).text('')
            })
             var temp=0
            $("a[name='danchu-a']").each(function(){

                var new_data=moren[temp]+p_data[temp]
                $(this).text(new_data)
                temp=temp+1
                // a_obj.push($(this))
            })

        }
         //修改商品信息
         function  Changemsg(com_id) {
             var p_data=[]

             $("input[name="+com_id+"]").each(function(){


                 p_data.push($(this).val())
             })
             $("input[name='danchu-b']").each(function(){
                 $(this).val('')
             })
             var temp=0
             $("input[name='danchu-b']").each(function(){

                 var new_data=p_data[temp]
                 $(this).val(new_data)
                 temp=temp+1
                 // a_obj.push($(this))
             })

             $('#xiugaibtn').click(function () {

                 var p_data ={};


                 p_data.commodity_id= parseInt(com_id);



                 $("input[name='danchu-b']").each(function(){
                     var temp=$(this).attr('id').split('+')
                     var add_id=temp[1]
                     if(add_id=='price'){
                         if($(this).val()==null ||$(this).val()=='')
                             p_data[add_id]=0
                         else
                             p_data[add_id]=parseInt($(this).val())
                     }

                     else
                         p_data[add_id]=$(this).val()
                 })
                 var string_obj=JSON.stringify(p_data)



                 var statu = confirm("你确定要修改？");
                 if(!statu){
                     return false;
                 }

                 $.ajax({
                     url:'/change_msg/',
                     type:'POST',
                     data: {'bbb':string_obj},
                     dataType:'json',

                     success:function(databack){
                         console.log(databack)
                         window.location.href='http://localhost:801/commodity_list?page='+page_cur;

                     }
                 })

             })

         }





        //更改在售状况
        function Changestatus(com_id) {

              var status_hint_name='status'+com_id
              var status_num=$("input[name="+status_hint_name+"]").val()

              var status
              if(status_num=='1')
                   status=false
              else
                  status=true

               var str=location.href

               var page_str=str.split('?')[1]

                $.ajax({
                    url:'/commodity_list?'+page_str,
                    type:'POST',
                    data:{option:'change',com_id:com_id,status:status},
                    success:function(databack){


                        var input_obj=$("input[name="+status_hint_name+"]")

                        var  a_name='icon'+com_id
                        var a_obj=$("i[name="+a_name+"]")
                        if(databack=='true')
                        {
                            a_obj.attr("class","am-icon-check am-text-warning");

                            input_obj.val('1')

                        }
                        else
                        { a_obj.attr("class","am-icon-close am-text-primary");
                            input_obj.val('')

                        }

                    }

                })


        }


        //全部上架
        $('#up-btn').click(function () {
            var obj=$("input[name='aa-checkbox']")
            for ( k in obj) {
                if(obj[k].checked) {
                    let com_id=obj[k].value
                    let status_hint_name='status'+com_id
                    let status_num=$("input[name="+status_hint_name+"]").val()
                    if(status_num=='')
                       {
                           Changestatus(com_id)


                       }

                }
                }
            alert('已经全部上架')
        })

        //全部下架
        $('#down-btn').click(function () {
            var obj=$("input[name='aa-checkbox']")
            for ( k in obj) {
                if(obj[k].checked) {
                    let com_id=obj[k].value
                    let status_hint_name='status'+com_id
                    let status_num=$("input[name="+status_hint_name+"]").val()
                    if(status_num=='1')
                    {
                        Changestatus(com_id)


                    }


                }
            }
                   alert('已经全部下架')
        })

    })


</script>



</body>
</html>