<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
     首页
     <img src="/static/img/01.jpg"  width="200px"  height="200px">
      
      商品名字:
     <button id='btn' >登录</button>


     欢迎登录：{$name}

     <button id='logout' >退出登录</button>

     <button id="fetchbtn">测试跨域</button>
     <button id="fetchbtn2">测试跨域get</button>
</body>

<script type="text/javascript"  src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
   $('document').ready(function(){

           $('#btn').click(function(){

                window.location.href='http://www.notebook.org/login';


           })
          $('#logout').click(function () {
                   window.location.href='http://www.notebook.org/logout';
          })

        $('#fetchbtn').click(function () {

                  var msg={ username:"admin",password:"admin" }

                  fetch('http://119.23.44.138:10001/admin/login',{
                       method: 'POST',
                       body: JSON.stringify(msg),
                       mode: 'cors',

                       headers:{

                            'Content-Type': 'application/x-www-form-urlencoded'

                       }
                       }).then(res => {
                            return res.json();
                       }).then(json => {
                            console.log('获取的结果', json.data);
                            return json;
                       })



        })
        $('#fetchbtn2').click(function () {

             var msg={ username:"admin",password:"admin" }

             fetch('http://xuzhaolong.site/',{
                  method: 'GET',
                  mode: 'cors',
             }).then(res => {
                  return res.json();
             }).then(json => {
                  console.log('获取的结果', json.data);
                  return json;
             })



        })

   })


</script>
</html>