<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
     首页
     <img src="/static/img/01.jpg"  width="200px"  height="200px">
      
      商品名字:
     <button id='btn' >登录</button>


     欢迎登录：{$name}

     <button id='logout' >退出登录</button>
</body>

<script type="text/javascript"  src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
   $('document').ready(function(){

           $('#btn').click(function(){

                window.location.href='http://www.notebook.org/login';


           })
          $('#logout').click(function () {
                   window.location.href='http://www.notebook.org/logout';
          })

   })


</script>
</html>