<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
     首页
     <img src="/static/img/01.jpg"  width="200px"  height="200px">
      
      商品名字:{$name}
     <button id='btn' href='/homepage/Test/jump'>登录</button>

</body>

<script type="text/javascript"  src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
   $('document').ready(function(){

           $('#btn').click(function(){

                window.location.href='http://www.notebook.org/login';


           })

   })


</script>
</html>